section.container
	header
		h1.title Alyssa Hosbach
		p.small Let's learn a little bit more about Alyssa's background and experience. To learn more about her training technique and approach, please visit her 
			span.underline philosophy
			|  page.

	img(src="dogPortrait.jpg",style="max-width:100%")
	div.panelContainer#bio
		div.panel
			h2 A little bit about me 
			p.small (TL;DR? Read the bolded words)
		div.panel
			p
				| I 
				span.bold grew up surrounded by animals 
				| of all shapes and sizes. My family always had dogs around, ranging from Husky’s to pugs, and I loved caring for them. I 
				span.bold worked as a veterinary technician 
				| the summer before college and discovered that the high-stress environment of the hospital was not for me; but, I still 
				span.bold loved working with critters. 
				| So, when I attended Cal Poly San Luis Obispo, I 
				span.bold studied Animal Science 
				| to get the most hands-on experiences with animals like horses, cattle, pigs, sheep, and chickens. My initial exposure to animal behavior began through an internship with Dolphin Quest, where I 
				span.bold trained Atlantic Bottlenose Dolphins 
				| in Bermuda for a summer. A year later I took a class where I  
				span.bold learned to train calves to walk on a halter 
				| for FFA shows--more animal behavior.
		div.panel
			p 
				| A year after I graduated from Cal Poly with a 
				span.bold Bachelor’s of Science in Animal Science, 
				| I went to graduate school at Humboldt State University and earned a 
				span.bold Master’s of Art in Social Science 
				| in a program called 
				span.bold Environment and Community. 
				| While I was fascinated by the interactions between the human species, what I learned most from my time in graduate school was that I enjoyed 
				span.bold coaching students 
				| during my part-time job as an 
				span.bold Academic Advisor 
				| for the University. Once I graduated, I knew I wanted to coach people and have animals be a part of my future career. Then, I found the 
				span.bold Dog Training Internship Academy (DTIA) 
				| based in San Francisco. I discovered that 
				span.bold dog training was the marriage of two things I loved: coaching people and working with dogs. 
				| Through a rigorous 6 month program I studied scientifically-based animal behavior and learning, mechanics and methods for teaching behaviors to dogs, effective coaching skills, and logged hundreds of hours 
				span.bold training dogs for in-class tests 
				| that were stricter than the Canine Good Citizenship (CGC) certification process.
section#programs
	div
		h1 Training Philosophy
		p.small Training your pups comes in different approaches and tatics. Make sure you choose one that is comfortable for you and your pal.
		button Learn More
script(src='/js/mainscript.js')