section.container
	header
		h1.title Meet Our Students
		p.small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	img(src="philosophy.jpg")
section#students.container
	div.grid-third
		div.panelContainer
			div.panel
				img(src="sharpei.jpg")
			div.panel					
				div.customerInfo
					p.bold.dark Penelope 1
					p.italic Shar Pei mix
	div.grid-third
		div.panelContainer
			div.panel
				img(src="dog.jpg")
			div.panel
				div.customerInfo
					p.bold.dark Pookie 2
					p.italic Maltese mix
	div.grid-third
		div.panelContainer
			div.panel
				img(src="sharpei.jpg")
			div.panel
				div.customerInfo
					p.bold.dark Soda 3
					p.italic Shar Pei mix
	div.grid-third
		div.panelContainer
			div.panel
				img(src="dog.jpg")
			div.panel				
				div.customerInfo
					p.bold.dark Hachi 4
					p.italic Husky mix
	div.grid-third
		div.panelContainer
			div.panel
				img(src="sharpei.jpg")
			div.panel
				div.customerInfo
					p.bold.dark Stanlee 5
					p.italic lil Pug
	div.grid-third
		div.panelContainer
			div.panel
				img(src="dog.jpg")
			div.panel
				div.customerInfo
					p.bold.dark Mace 6
					p.italic Maltese mix
section#programs
	div
		h1 Finding the Right Program
		p.small Read about our differnt training progams and see which one fits your pup the best
		button View Programs