section.container#contact
	header
		h1.title Contact Me
		p.small Hi, I'm Alyssa Hosbach!
		p.small You can reach me through my phone, Email, or simply leave me a message below.
	div
		div.grid-half
			div.panel
				div.thumbnail
					span.glyphicon.glyphicon-earphone
				div.contactInfo
					h2 Phone
					p (555)123-4567
		div.grid-half
			div.panel
				div.thumbnail
					span.glyphicon.glyphicon-envelope
				div.contactInfo
					h2 Email
					p dancingtailsdogtraining@gmail.com
	form
		div
			div.grid-half
				div.panelContainer.formInput
					div.panel
						h1 Parent Info
					div.panel
						p Name:
						input(placeholder="Alyssa Hosbach")
					div.panel
						p Phone:
						input(placeholder="(555)555-5555")
					div.panel
						p Email:
						input(placeholder="dancing@tails.com")

			div.grid-half
				div.panelContainer.formInput
					div.panel
						h1 Pup Info
					div.panel
						p Name:
						input(placeholder="Puppy")
					div.panel
						p Breed
						input(placeholder="Puppy mix")
					div.panel
						p Age
						input(placeholder="2 months")
		div.container
			div.panelContainer
				div.panel
					p Inquiry
					textarea
				div.panel
					button Message
section.pageEnd
	figure.banner#contactEnd