section.splash(style="background-image:url('../contact-low.jpg')")
	div(style="left:25%;height:200px")
		h1(style="font-size:3em") Contact Me
		h2 Reach Out to Me Today!
	div(style="left:25%;top:auto;bottom:30%").hideBottom
		span.ease.glyphicon.glyphicon-chevron-down(style="font-size:40px", ng-click="moveDown()")
section.container#contact
	div.container
		div(style="height:150px;margin-bottom:20px").contactInfo
			div.grid-half
				div.panel
					h2.green Phone
					p.smallest Give me a call.
					a(href="tel:1-805-302-4691"): p (805) 302-4691
			div.grid-half
				div.panel
					img(src="dogPhone2-low.jpg",style)
					h2: a(href="tel:1-805-302-4691"): span(style="padding:20px").glyphicon.glyphicon-earphone
					p.hideBottom Call Now
		div(style="height:150px").contactInfo
			div.grid-half
				div.panel
					h2.green Email
					p.smallest Send me an email.
					a(href="mailto:dancingtailstraining@gmail.com"): p dancingtailstraining@gmail.com
			div.grid-half
				div.panel
					img(src="dogEmail2-low.jpg",style)
					h2: a(href="mailto:dancingtailstraining@gmail.com"): span(style="padding:20px").glyphicon.glyphicon-envelope
					p.hideBottom Send Email
	div.container
		form.panelContainer
			div
				div.grid-half
					div.panelContainer.formInput
						div.panel
							h1 Parent Info
						div.panel
							p Name:
							input(placeholder="Your Full Name")
						div.panel
							p Phone:
							input(placeholder="(555)555-5555")
						div.panel
							p Email:
							input(placeholder="dancing@tails.com")

				div.grid-half
					div.panelContainer.formInput
						div.panel
							h1 Pup Info
						div.panel
							p Name:
							input(placeholder="Name")
						div.panel
							p Breed
							input(placeholder="(e.g., German Shepherd)")
						div.panel
							p Age
							input(placeholder="(e.g., 2 months)")
			div.panelContainer
				div.panel
					p Inquiry
					textarea
				div.panel
					button.ease Message
section.pageEnd
	figure.banner#contactEnd(style="background-image:url('../Bailey1-standard.jpg')").bg
		div
			img(src="logoTextWhite-standard.png", style="width:100%")