section.splash(style="background-image:url('../contact-low.jpg')").bg
	div(style="left:25%").ease.hideBottom
		h1(style="font-size:3em") Contact Me
		h2 Reach Out to Me Today!
		span.glyphicon.glyphicon-chevron-down(style="font-size:40px;;margin-top:15px", ng-click="moveDown()")
section.container#contact
	div.container
		div(style="margin-bottom:20px").contactInfo
			div.grid-half
				div.panel
					h2.green Phone
					p.smallest Give me a call.
					a(href="tel:1-805-302-4691"): p (805) 302-4691
			div.grid-half
				div.panel(style="background-image:url('dogPhone2-low.jpg')").bg
					h2: a(href="tel:1-805-302-4691"): span(style="padding:20px").glyphicon.glyphicon-earphone
					p.hideBottom Call Now
		div.contactInfo
			div.grid-half
				div.panel
					h2.green Email
					p.smallest Send me an email.
					a(href="mailto:dancingtailstraining@gmail.com"): p dancingtailstraining@gmail.com
			div.grid-half
				div.panel(style="background-image:url('dogEmail2-low.jpg')").bg
					h2: a(href="mailto:dancingtailstraining@gmail.com"): span(style="padding:20px").glyphicon.glyphicon-envelope
					p.hideBottom Send Email
	div.container
		form.panelContainer
			div
				div.grid-half
					div.panelContainer.formInput
						div.panel
							h1 Parent Info
						div.panel#userName
							p Name:
							input(placeholder="Your Full Name", ng-model="form.owner")
							span.validation
						div.panel#userPhone
							p Phone:
							input(placeholder="(555)555-5555", ng-model="form.phone")
							span.validation
						div.panel#userEmail
							p Email:
							input(placeholder="dancing@tails.com", ng-model="form.email")
							span.validation

				div.grid-half
					div.panelContainer.formInput
						div.panel
							h1 Pup Info
						div.panel#dogName
							p Name:
							input(placeholder="Name", ng-model="form.dog")
							span.validation
						div.panel#dogBreed
							p Breed
							input(placeholder="(e.g., German Shepherd)", ng-model="form.breed")
							span.validation
						div.panel#dogAge
							p Age
							input(placeholder="(e.g., 2 months)", ng-model="form.age")
							span.validation
			div.panelContainer
				div.panel#messageContent
					p Inquiry
					textarea(ng-model="form.message")
					span.validation
				div.panel
					
					button(ng-click="submitMessage()").ease Message
section#messageResult
	div.panel(style="background:#1BA39C")
		p(ng-show="sent")
			| {{sent}}
		span.glyphicon.glyphicon-remove.ease(ng-click="close()")

section.pageEnd
	figure.banner#contactEnd(style="background-image:url('../Bailey1-standard.jpg')").bg
		div
			img(src="logoTextWhite-standard.png", style="width:100%")