section#homeCover.bg(style="background-image:url('../homeCover-low.jpg')")
	figure#homeLogo
		img(src="logoText-low.png")#logoText
		img(src="logoDog1-low.png")#logoDog1
		img(src="logoDog2-low.png")#logoDog2
		img(src="logoDog3-low.png")#logoDog3
section#customer
	h1.title Customer Testimonials
	p.small check out what people have to say about us.
	div.grid-half
		div.panelContainer(ng-repeat="review in reviews")
			div.panel
				p.italic "{{review.text}}"
			div.panel
				figure.thumbnail
					img(src="{{review.image}}")
				div.customerInfo
					p.bold.green {{review.author}}
					p.italic {{review.location}}
	div.grid-half
		div.panelContainer(ng-repeat="review in reviews")
			div.panel
				p.italic "{{review.text}}"
			div.panel
				figure.thumbnail
					img(src="{{review.image}}")
				div.customerInfo
					p.bold.green {{review.author}}
					p.italic {{review.location}}
section.pageEnd
	figure.banner#homeEnd(style="background-image:url('../Hubert1-standard.jpg')").bg
		div
			h1 Finding the Right Program
			p.small Read about our different training progams and see which one fits your pup the best
			a(href="/services"): button View Programs