section#homeCover.splash.bg(style="background-image:url('../homeCover-low.jpg')")
	figure#homeLogo
		img(src="logoText-low.png")#logoText
		img(src="logoDog1-low.png")#logoDog1
		img(src="logoDog2-low.png")#logoDog2
		img(src="logoDog3-low.png")#logoDog3
	div(style="top:auto;bottom:4%")
		h1: span.glyphicon.glyphicon-chevron-down(ng-click="moveDown()")
section#customer
	h1.title Customer Testimonials
	p.small See what past clients have said:
	div.grid-half
		div.panelContainer(ng-repeat="review in reviews | slice:0:reviews.length/2")
			div.panel
				p.italic "{{review.text}}"
			div.panel
				figure.thumbnail
					img(src="{{review.image}}")
				div.customerInfo
					p.bold.green {{review.author}}
					p.italic {{review.location}}
	div.grid-half
		div.panelContainer(ng-repeat="review in reviews | slice:reviews.length/2:reviews.length")
			div.panel
				p.italic "{{review.text}}"
			div.panel
				figure.thumbnail
					img(src="{{review.image}}")
				div.customerInfo
					p.bold.green {{review.author}}
					p.italic {{review.location}}
section.pageEnd
	figure.banner#homeEnd(style="background-image:url('../Hubert1-standard.jpg')").bg
		div
			h1 Finding the Right Program
			p.small Read about the different training programs I offer and see which one fits your pup the best
			a(href="/services"): button.ease View Programs