section#gallery.container
	header
		h1.title Training Philosophy
		p.small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	img(src="philosophy.jpg")
	div.container
		div.grid-half
			img(src="dog.jpg")
			img(src="sharpei.jpg")
		div.grid-half
			img(src="sharpei.jpg")
			img(src="philosophy.jpg")
	img(src="dog.jpg")
section#programs
	div
		h1 Training Tips
		p.small Read about our differnt training progams and see which one fits your pup the best
		button View Programs
section.container
	div.grid-half
		div.panelContainer
			div.panel
				p.italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..."
			div.panel
				figure.thumbnail
					img(src="sharpei.jpg")
				div.customerInfo
					p.bold.dark Penelope
					p.italic Shar Pei mix
		div.panelContainer
			div.panel
				p.italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
			div.panel
				figure.thumbnail
					img(src="dog.jpg")
				div.customerInfo
					p.bold.dark Pookie
					p.italic Maltese mix
		div.panelContainer
			div.panel
				p.italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text .."
			div.panel
				figure.thumbnail
					img(src="sharpei.jpg")
				div.customerInfo
					p.bold.dark 
					p.italic Shar Pei mix
	div.grid-half
		div.panelContainer
			div.panel
				p.italic "Lorem Ipsum is simply ."
			div.panel
				figure.thumbnail
					img(src="dog.jpg")
				div.customerInfo
					p.bold.dark Hachi
					p.italic Husky mix
		div.panelContainer
			div.panel
				p.italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
			div.panel
				figure.thumbnail
					img(src="sharpei.jpg")
				div.customerInfo
					p.bold.dark Stanlee
					p.italic lil Pug
		div.panelContainer
			div.panel
				p.italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown alley of type and scrambled it to make a type specimen book..."
			div.panel
				figure.thumbnail
					img(src="dog.jpg")
				div.customerInfo
					p.bold.dark Mace
					p.italic Maltese mix
section#programs
	div
		h1 Finding the Right Program
		p.small Read about our differnt training progams and see which one fits your pup the best
		button View Programs
section.container
	div.grid-half
		div.panelContainer
			div.panel
				h2 Interesting Articles
			div.panel
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 

	div.grid-half
		div.panelContainer
			div.panel
				h2 training Tips
			div.panel
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
				a.underline: p Lorem Ipsum is simply dummy text of the 
ection#programs
	div
		h1 Finding the Right Program
		p.small Read about our differnt training progams and see which one fits your pup the best
		button View Programs