div(show-during-resolve).loadingLayer.ease
	h1: i
section.container#services2
	div.panelContainer(style="background-image:url('services-low.jpg')")
		div.serviceIntro
			h1.green I am Here to Help!
			h2 Each Private consult includes:
			ul
				li A pre-consult phone call
				li A 90-minute in-home or on-location consult
				li A detailed follow-up Email from our meeting inclucding a summary of the consult and key recommendation
			p.smallest.italic All programs include all consultation features.
			p(ng-click="moveDown()",style="cursor:pointer") Select a category below for services offered
	div.panelContainer.serviceInner.ease
		div.package(ng-repeat="category in services")
			div(ng-show="category.state")
				div.panel
					h2(style="float:left")
						span.green {{category.title}} 
						br
						| {{category.description}}
					div.green(style="float:right")
						h2(ng-repeat="(i, package) in category.packages", ng-click="showDetails(i)").price.ease
							| {{package.session}} {{package.price}}
				div.panel(ng-repeat="package in category.packages", ng-show="package.state",style="border:solid #1BA39C")
					p {{package.description}}
				div.panel
					div(style="width:70%;display:inline-block;vertical-align:top")
						ul
							li(ng-repeat="item in category.items")
								p {{item.service}}
								ul(ng-show="item.sub")
									li(ng-repeat="item in item.sub")
										p {{item}}
					figure(style="width:30%;display:inline-block;padding-left:40px")
						img(src="{{category.image}}",style="border:solid #eee 15px")
	div#categoryOutter
		div#categoryInner.ease
			div.grid-third
				div.panel(ng-click="showProgram(0)",style="background-image:url('../dog1-low.jpg')").bg.ease
					h1 Puppy
					p.hideBottom
						span View Details
			div.grid-third
				div.panel(ng-click="showProgram(1)",style="background-image:url('../Ollie-low.jpg')").bg.ease
					h1 Basic
					p.hideBottom
						span View Details
			div.grid-third
				div.panel(ng-click="showProgram(2)",style="background-image:url('../Biggie1-low.jpg')").bg.ease
					h1 Behavior
					p.hideBottom
						span View Details
	div.policy
		div.grid-half
			p.small.bold.green Payment
			p.smallest Payment for all services can be made at the time of your scheduled appointment. I take cash and checks only.
		div.grid-half
			p.small.bold.green Cancellation Policy
			p.smallest Cancellations require 48-hour notice to change your reservation or cancel for a full refund.

section.pageEnd
	figure.banner#servicesEnd(style="background-image:url('../Maysie4-standard.jpg')").bg
		div
			h1 Have Questions | Want More Details?
			p.small Reach out to me and start training your pooch today
			a(href="/contact"): button.ease Contact Me