section#playerLayer.invisible.ease(ng-click="closeVideo()")
	div.container.playerContainer
		div#player
section#video.container
	div.panel#youtube
		div.headshot(style="background-image:url('{{channel[0].snippet.thumbnails.high.url}}');float:left")
		div(style="float:left; text-align:left; margin-left:20px")
			p.small.green {{channel[0].snippet.title}}
			p.smallest {{channel[0].statistics.videoCount}} Videos
			p.smallest {{channel[0].statistics.viewCount}} Total Views
		div(style="float:right")
			a(href="https://www.youtube.com/channel/UCsM9t3PX5wriPBHigH9intw/videos",target="_blank")
				img(src="http://www.youtube.com/yt/brand/media/image/YouTube-logo-dark.png")#youtubeLogo
	div(ng-repeat="video in videos", ng-init="hoverEffect()" style="text-align:left")
section.pageEnd
	figure.banner#videoEnd(style="background-image:url('../Alyssa2-standard.jpg')").bg
		div
			h1 Getting to Know Me
			p.small Learn more about my background and experience!
			a(href="/about"): button.ease About Me