section.container#playerLayer.hideTop.ease
	div#player
	div(ng-click="closeVideo()")#playerBackground
section#video.container
	header
		h1.title Watch Our Students in Action!
		p.small Watch our students in training action.
	div.panelContainer
			button(ng-click="playVideo('WaZPgBrbfn8')") Play
			img(src="sharpei.jpg")
	div
		div.grid-half
			div.panelContainer
				button(ng-click="playVideo('R4v_Iu5o_ew')") Play
				img(src="sharpei.jpg")
		div.grid-half
			div.panelContainer
				button(ng-click="playVideo('5_sjCwPU3tI')") Play
				img(src="sharpei.jpg")
section#programs
	div
		h1 Finding the Right Program
		p.small Read about our differnt training progams and see which one fits your pup the best
		button View Programs

script(type="text/javascript").
	