section#playerLayer.invisible.ease(ng-click="closeVideo()")
	div.container.playerContainer
		div#player
section#video.container
	div.panelContainer
		div.viewButton(ng-click="playVideo('R4v_Iu5o_ew')"): span.glyphicon.glyphicon-play
		h2 Hubert the French Bulldog Aces his Test!
		img(src="video1.jpg")
	div
		div.grid-half
			div.panelContainer
				div.viewButton(ng-click="playVideo('WaZPgBrbfn8')"): span.glyphicon.glyphicon-play
				p.hideBottom Biggie the Golden Retriever Aces his Test!
				img(src="video2.jpg")
		div.grid-half
			div.panelContainer
				div.viewButton(ng-click="playVideo('5_sjCwPU3tI')"): span.glyphicon.glyphicon-play
				p.hideBottom Labradoodle Waits for Command to Go Out
				img(src="video3.jpg")
section.pageEnd
	figure.banner#videoEnd(style="background-image:url('../Alyssa2-standard.jpg')").bg
		div
			h1 Getting to Know Me
			p.small Learn more about my background and experience!
			a(href="/about"): button.ease About Me