extends layout

block body
  nav.seeThrough.ease
    div#brand
      a(href='/'): h1: i.fa.fa-paw
    div#menu
      ul
        li: a(href='/') Home
        li: a(href='/services') Services
        li: a(href='/philosophy') Philosophy
        li: a(href='videos') Videos
        li: a(href='/about') About
        li: a(href='/contact') Contact
    div#navContact
      h2 Dancing Tails
      p.smallest Call Now
      a(href="tel:1-805-302-4691"): h2 (805)302-4691
  section#main(ng-view)
  section#footerSpace

  footer
      div.grid-third
        h1 Dancing Tails
        aside
          p.bold Contact
          p To acquire more information, please contact Alyssa @ 
            a(href="mailto:dancingtailstraining@gmail.com") dancingtailstraining@gmail.com
            | .
        aside
          p.bold Location
          p We are located in Berkeley, California, and we are currently serving only in the East Bay area.
      div.grid-third
        img#ppg(src="PPG.png")
      div.grid-third
        ul
          li: a(href='/') Home
          li: a(href='videos') Videos
        ul
          li: a(href='/services') Serives
          li: a(href='/Philosophy') Philosophy
        ul
          li: a(href='/about') About
          li: a(href='/contact') Contact
        
        div.credit
          p Handcrafted in San Francisco, California.
          p Designed & Developed by zxzdesigns ©2015


  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
