extends layout

block body
  nav.seeThrough.ease
    div#menu
      ul
        li: span.glyphicon.glyphicon-th-list#mobileMenu
        li.navItem: a(href='/') Home
        li.navItem: a(href='/services') Services
        li.navItem: a(href='/philosophy') Philosophy
        li.navItem: a(href='videos') Videos
        li.navItem: a(href='/about') About
        li.navItem: a(href='/contact') Contact
    div#brand
      a(href='/')
        img(src="logoTextGreen-standard.png")
        i.fa.fa-paw(style="font-size:50px;display:none")
    div#navContact
      div
        p.smallest Serving the East Bay Area
        h2: a(href="tel:1-805-302-4691") (805) 302-4691
      div(style="display:none;padding:10px 0")
        h1(style="font-size:20px"): a(href="tel:1-805-302-4691"): span.glyphicon.glyphicon-earphone(style="border:solid;border-radius:50px;padding:15px")
  section#main(ng-view)
  section#footerSpace

  footer
      div.grid-third
        h1.green Dancing Tails
        aside
          p.bold Contact
          p To acquire more information, please contact Alyssa at 
            a(href="mailto:dancingtailstraining@gmail.com").ease dancingtailstraining@gmail.com
            | .
        aside
          p.bold Location
          p We are located in Berkeley, California, and we are currently serving the East Bay.
      div.grid-third
        img#ppg(src="PPG.png")
      div.grid-third
        ul
          li: a(href='/').ease Home
          li: a(href='videos').ease Videos
        ul
          li: a(href='/services').ease Services
          li: a(href='/Philosophy').ease Philosophy
        ul
          li: a(href='/about').ease About
          li: a(href='/contact').ease Contact
        
        div.credit
          p Handcrafted in San Francisco, California.
          p Designed & Developed by 
            a(href="http://zxzdesigns.com", target="_blank") zxzdesigns
            |  ©2015


  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
