/*
 *  Global
 */
*,*:after,*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  height:100%;
  line-height:0;
}
body{
  height:100%;
  background:#f5f5f5;
  text-align:center;
  font-family:"Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  opacity:0;
}
h1,h2,p,li{
  line-height:1.1;
}
a{
  cursor:pointer;
  text-decoration:none;
  font-weight:500;
}
ul{
  list-style: none;
}
nav #menu a{
  font-size:13px;
  padding:0 10px;
}
nav a{
  color:#1BA39C;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav #menu li a:hover{
  border-bottom:solid #1BA39C;
  line-height:60px;
}
nav #navContact a:hover{
  color:#3DC5BE;
}
h1{
  font-size:2.5em;
}
h2{
  font-size:1.25em;
}
button{
  height:44px;
  color:#1BA39C;
  background:transparent;
  font-size:16px;
  font-weight:bolder;
  padding:10px 25px;
  border:solid #1BA39C 3px;
  cursor:pointer;
}
button:hover{
  color:white;
  background:#1BA39C;
}
header {
  text-align:center;
  width:620px;
  margin:auto;
  margin-bottom:77px;
}
input{
  width:100%;
  height:48px;
  padding:0 20px;
  border:solid 1px #777;
}
input:focus, textarea:focus{
  outline:none;
  border:solid 2px #1BA39C;
  padding-left:19px;
  padding-right:19px;
}
.glyphicon{
  padding:0;
}
.layover{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  color:white;
  background:#333;
  opacity:0;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*.layover:hover{
  opacity:0.4;
}*/
.splash{
  width:100%;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.pageEnd{
  width:100%;
  height:300px;
  position:relative;
  display:inline-block;
  color:white;
}
.banner:before, #playerLayer:before{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  content:"";
  color:white;
  background:#333;
  opacity:0.6;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner{
  width:100%;
  height:100%;
  background-size:cover;
  background-attachment: fixed;
  background-position:center center;
}
.banner div{
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.panelContainer{
  background:white;
  width:100%;
  padding:0 20px;
  margin-bottom:20px;
}
.panelContainer:last-child{
  margin-bottom:100px;
}
.panel{
  background:white;
  padding:30px;
  border-bottom:solid #eee 1px;
}
.panel:last-child{
  border-bottom:none;
}
.panel a{
  text-decoration: underline;
  color:#1BA39C;
}
.thumbnail img{
  height:77px;
  max-width:none;
}
.simpleButton{
  margin-top:20px;
  color:#1BA39C;
  cursor:pointer;
}
.container{
  width:840px;
  margin:auto;
  padding-top:77px;
}
.container:before{
  width:100%;
  display:table;
  content:"";
}
.grid-half{
  display:inline-block;
  width:48%;
  margin:20px 0;
  margin-right:4%;
  vertical-align:top;
}
/*footer .grid-third{
  width:33.3333333333%;
  display:inline-block;
  float:left;
}
footer .grid-third:last-child{
  float:right;
}*/
.grid-third{
  width:30%;
  margin-right:5%;
  display:inline-block;
  float:left;
}
.grid-third:nth-child(3n+0){
/*  float:right;
*/
  margin-right:0; 
}
.grid-half:nth-child(2n+0){
  margin-right:0;
}
.grid-quarter{
  width:21.25%;
  margin-right:5%;
  display:inline-block;
  float:left;
}
.grid-quarter:nth-child(4n+0){
  margin-right:0;
}

.italic {
    font-style: italic;
}
.bold{
  font-weight:700;
}
.title{
  margin-top:77px;
  color:#1BA39C;
}
.small{
  font-size:13px;
  font-weight:700;
  margin-top:20px;
  margin-bottom:20px;
}
.smallest{
  font-size:11px;
  font-weight:700;
  margin-top:20px;
  margin-bottom:20px;
}
.dark{
  color:black;
}
.green{
  color:#1BA39C;
}
.underline{
  text-decoration: underline;
}

.invisible{
  /*top:-100% !important;*/
  visibility:hidden !important;
}
.hideBottom{
  bottom:0 !important;
  opacity:0 !important;
}
.hideTop{
  top:0 !important;
}
.hide{
  bottom:-100px !important;
}
.ease{
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.easein{
  -ms-transition: all 0.8s ease-in;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
.easeout{
  -ms-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.innerShadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
/*
 *  Header & Footer
 */
nav{
  position:fixed;
  top:0;
  left:50%;
  color:#1BA39C;
  width:100%;
  height:77px;
  z-index:100;
  /*border-bottom:solid 1px;*/
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
nav.seeThrough:after{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  content:"";
  background:#f5f5f5;
  z-index: -1;
  opacity:0.9;
}
nav:after{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  content:"";
  background:#1BA39C;
  z-index: -1;
}
#menu,#menu li,#menu li a,#navContact{
  display:inline-block;
}
#brand{
  float:left;
  display:table;
  width:172px;
  height:77px;
  /*border-right:solid 1px;*/
}
#brand a {
  display:table-cell;
  vertical-align:middle;
  padding:0 10px;
}
#brand img{
  width:100%;
}
#menu li, #menu li a{
  line-height:75px;
  font-weight:700;
}
#navContact{
  float:right;
  height:77px;
  display:table;
  padding:0 20px;
  /*border-left:solid 1px*/
}
#navContact div{
  display:table-cell;
  vertical-align: middle;
}
#navContact .smallest{
  line-height:15px;
  margin:0;
}
#navContact a{
  line-height:22px;
}
#main{
  background:#f5f5f5;
}
#footerSpace{
  height:240px;
  width:100%;
  visibility:hidden;
}
footer{
  position:fixed;
  bottom:0;
  left:50%;
  z-index:-10;
  width:840px;
  margin:auto;
  margin-top:40px;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
footer .grid-third:last-child{
  text-align:right;
}
footer h1{
  color:#333;
}
footer aside{
  margin-top:20px;
}
footer aside:last-child{
  margin-bottom:40px;
}
footer p a{
  color:#999;
  text-decoration:underline;
}
footer p a:hover{
  color:#1BA39C;
}
footer ul{
  list-style:none;
  text-align:left;
  font-size:12px;
  margin-right:40px;
  display:inline-block;
}
footer ul:nth-child(3){
  margin-right:0;
}
footer li{
  line-height:40px;
}
footer ul li a, #video p a{
  color:#333;
  opacity:0.5;
}
footer ul li a:hover, #video p a:hover{
  color:#1BA39C;
  opacity:1;
}
footer h1, footer p{
  text-align:left;
}
footer p{
  color: #999;
  font-size:11px;
}
footer #ppg{
  padding-top:15px;
  display:inline-block;
  width:70%;
}
footer .credit{
  color:#ccc;
  margin-top:53px;
  margin-bottom:40px;
  display:inline-block;
}
/*
 *  Home Page
 */
#homeCover{
  width:100%;
  background-size:cover;
  background-position:bottom left;
  background-attachment:fixed;
  position:relative
;  overflow:hidden;
}
.splash figure, .splash div{
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  width:42%;
  text-align:center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.splash figure:after{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  content:"";
  background:black;
  opacity:0.2;
  z-index: -1;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.splash div span{
  opacity:0.7;
}
.splash div span:hover{
  opacity:1;
}
#homeCover div h1 span{
/*  width:100px;
  border-radius: 40px 40px 0 0;
  background:#f5f5f5;
  line-height:40px;*/
  color:white;
}
#homeLogo img:first-child{
  position:relative;
  top:-120px;
}
#logoText,#logoDog1,#logoDog2,#logoDog3{
  position:absolute;
  opacity:0;
  top:-5%;
  left:0;
  width:100%;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#logoText{
  top:-30%;
  opacity:1;
}
#customer{
  width:840px;
  margin:auto;
}
#customer .grid-half{
  vertical-align:top;
}
#customer .thumbnail{
  display:inline-block;
  vertical-align:middle;
  width:77px;
  height:77px;
  overflow:hidden;
  border-radius:15px;
}
#customer .customerInfo{
  padding:0 0 0 60px;
  text-align:left;
  display:inline-block;
  vertical-align:middle;
}
#customer .customerInfo p{
  line-height:25px;
}
#customer .panel:last-child{
  text-align:left;
  padding-left:40px;
}
/*
 *  About & Philosophy Page
 */
#bio, #philosophy{
  text-align:left;
}
#bio p, #philosophy p{
  margin-bottom:25px;
  line-height: 22px;
}
#bio ul{
  padding-left:33px;
}
#bio ul li{
  position:relative;
}
/*#bio li i, #bio li img{
  margin-left:-20px;
  padding-right:5px;
}*/
#bio .listIcon{
  font-size:18px;
  width:26px;
  position:absolute;
  top:50%;
  left:-20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#bio p:last-child, #philosophy p:last-child{
  margin-bottom:0;
}
#bio li:last-child, #philosophy li:last-child{
  margin-bottom:0;
}
#bio h2, #philosophy h2{
  margin-bottom:15px;
}
#bio .smallest{
  margin-top:0;
}
.portraitLeft{
  width:50%;
  float:left;
  margin-right:30px;
  border-right:solid #eee 1px;
}
.portraitRight{
  width:50%;
  float:right;
  margin-left:30px;
  border-left:solid #eee 1px;
}
#bio .panel .portraitLeft .panel{
  padding: 0 30px 0 0;
}
#bio .panel .portraitRight .panel{
  padding: 0 0 0 30px;
}

#philosophy .portraitLeft{
  height:380px;
  overflow: hidden;
}
#philosophy ul{
  padding-left:20px;
  list-style:disc;
}
#philosophy li{
  margin-bottom:25px;
}
#philosophy ul ul{
  list-style:square;
  padding-left:40px;
}
#philosphy ul ul p{
  margin-bottom:;
}
.list{
  text-align:left;
}
.listItem{
  margin-bottom:20px;
  padding-left:5px;
  border-left:solid 1px #777;
}
.listItem:last-child{
  margin-bottom:0;
}
.listItem a{
  text-decoration: none;
  color:#1BA39C;
}
.listItem p:last-child{
  color:#999;
}
/*
 *  Video Page
 */
#youtube{
  width:100%;
  height:140px;
  padding:20px;
  padding-left:40px;
}
#youtubeLogo{
  height:100px;
  opacity:0.3;
}
#youtubeLogo:hover{
  opacity:0.5;
}
.headshot{
  width:100px;
  height:100px;
  border:solid 10px #eee;
  border-radius:100px;
  background-size:cover;
  background-position:center center;
}
#youtube .smallest{
  margin:0;
  opacity:0.5;
}
#video {
  margin-bottom:77px;
}
#video span{
  padding-left:10px;
}
#video .grid-half:last-child{
  margin-bottom:40px;
}
#video .panelContainer{
  text-align:center;
  padding:0;
  position:relative;
  margin:0;
  width:100%;
  height:200px;
  overflow:hidden;
  background-size:cover;
  background-position:center center;
}
#video .panelContainer:before{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  content:"";
  color:white;
  background:#333;
  opacity:0.2;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#video .panelContainer:hover:before{
  opacity:0.4;
}
#video .viewButton, #contact .contactInfo .grid-half:last-child .panel span{
  color:white;
  border: solid 2px;
  border-radius:100px;
  padding:10px;
  position:absolute;
  top:50%;
  left:50%;
  opacity:1;
  cursor:pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#video .viewButton, .splash h1 span{
  border:none;
}

#video .viewButton:hover, #contact .contactInfo .grid-half:last-child .panel span:hover{
  color:#1BA39C;
}
#video .panelContainer h2, #video .panelContainer p, #services2 .grid-third .panel:first-child p, #contact .contactInfo .grid-half:last-child .panel p{
  color:white;
  position:absolute;
  bottom:20%;
  left:50%;
  opacity:1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#video .panelContainer p, #services2 .grid-third .panel:first-child p, #contact .contactInfo .grid-half:last-child .panel p{
  bottom:5%;
  width:70%;
}
/*
 *  Services Page
 */
#services2 .panelContainer{
  height:405px;
  text-align:left;
  background-size:cover;
  background-position:bottom left;
  position:relative;
}
#services2 .panelContainer .serviceIntro{
  color:#777;
  padding:20px;
  width:50%;
  position:absolute;
  top:50%;
  right:60px;
  opacity:1;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}
#services2 .panelContainer .serviceIntro h1{
  margin-bottom:20px;
}
#services2 .panelContainer .serviceIntro ul li{
  margin-top: 10px;
  list-style: disc;
  margin-left:20px;
}
#services2 .panelContainer .serviceIntro:after{
  position:absolute;
  background:white;
  content:"";
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.7;
  z-index:-1;
/*  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);*/
}
#services2 .serviceInner{
  height:0;
  overflow:hidden;
}
#services2 .panelContainer .panel .panel{
  padding:0;
}
#services2 .panel, #services2 .package .panel h2{
  display:inline-block;
}
#services2 .panel{
  position:relative;
  width:100%;
}
#services2 .price{
  color:#1BA39C;
  font-size:18px;
  text-align:center;
  width:120px;
  border:solid 2px;
  padding:4px 10px;
  margin-left:5px;
  cursor:pointer;
  position:relative;
}
#services2 .price:hover{
  background:#1BA39C;
  color:white;
  border:solid 2px #1BA39C;
}
#services2 .price.active{
  background:#1BA39C;
  color:white;
  border:solid 2px #1BA39C;
}

#services2 .package .panel div > ul{
  -webkit-columns: 2; 
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
#services2 .package .panel ul li{
  list-style:none;
  vertical-align: top;
  width:95%;
  text-align:center;
  padding:10px 5px;
  margin-right:5%;
  margin-bottom:11px;
  border:solid 1px #eee;
}
#services2 .package .panel ul li ul li{
  display:block;
  width:90%;
  padding:5px;
  margin:5px 5%;
}
#services2 .grid-third h1{
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  border-top:solid;
  border-bottom:solid;
  opacity:1;
  cursor:pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#services2 .grid-third .panel:first-child{
  padding:0;
  margin:0;
  position:relative;
  height:150px;
  min-height:70px;
  max-height:150px;
  overflow:hidden;
  cursor:pointer;
  background-size:cover;
  background-position:center center;
}

#services2 .grid-third .panel:first-child:before, #contact .contactInfo .grid-half:last-child .panel:before{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  content:"";
  color:white;
  background:#333;
  opacity:0.3;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#services2 .grid-third .panel:first-child:hover:before, #contact .contactInfo .grid-half:last-child .panel:hover:before{
  opacity:0.7;
}
#services2 #categoryOutter{
  height:200px;
  width:100%;
}
#services2 #categoryInner{
  width:840px;
  border-top:solid 5px #f5f5f5;
  position:relative;
  bottom:0;
  left:50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
#services2 #categoryInner.fixed{
  position:fixed;
  background:#f5f5f5;
}
#services2 #categoryInner .grid-third .mini{
  height:60px;
}
#services2 .policy{
  margin-bottom:100px;
}
/*
 *  Contact Page
 */
#contact .container{
  padding-top:0;
}
#contact .container:after{
  display:table;
  width:100%;
  content:"";
}
#contact .contactInfo .grid-half{
  width:50%;
  height:100%;
  margin:0;
  float:none;
  vertical-align:middle;
}
#contact .contactInfo .grid-half .panel{
  height:100%;
}
#contact .contactInfo .grid-half:last-child .panel{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  overflow:hidden;
}
#contact .contactInfo a{
  color:inherit;
}
/*#contact .grid-half:last-child .panel img{
  -webkit-filter: blur(5px);
  filter: blur(5px);
}*/
#contact .contactInfo{
  height:150px;
  margin-bottom:20px
}
#contact form .formInput{
  margin-bottom:0;
}
#contact form p{
  text-align:left;
  line-height:1.5em;
}
textarea{
  width:100%;
  max-width:100%;
  height:300px;
  padding:20px;
  border:solid 1px #777;
}

#playerLayer{
  visibility: visible;
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: 100;
}
.playerContainer{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  display:table;
}
#player{
  display:table-cell;
  vertical-align: middle;
  margin:auto;
  line-height:100%;
}

/*
 *  End banner
 */
#homeEnd{
  
  background-size:cover;
  background-position:bottom center;
  background-attachment:fixed;
}
#aboutMeEnd{

  background-size:cover;
  background-position:top right;
  background-attachment:fixed;
}
#videoEnd{

  background-size:cover;
  background-position:top center;
  background-attachment:fixed;
}
#philosophyEnd{

  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#servicesEnd{

  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#contactEnd{
  
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}